{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <div id="loginRegisterForm">
        <h2 class="text-center">Register</h2>
        <div class="row">
            <div class="col-12">
                <hr style="color: #00ADB5">
                <p>Create a new account</p>
                <form method="post" action="{% url 'register' %}">
{#                    {% csrf_token %}#}
                    {{ form.username }}
                    {{ form.email }}
                    {{ form.password1 }}
                    {{ form.password2 }}
                    <button id="register_button" class="btn btn-primary w-100 log_in_button" type="submit" name="CreateUser">Register
                    </button>
                </form>
            </div>
        </div>
{#        {% for error in form.errors %}#}
{#            <span class="badge text-bg-danger mt-3 py-2 px-4">{{ error }}</span>#}
{#        {% endfor %}#}
{#        <span class="badge text-bg-danger mt-3 py-2 px-4">{{ form.errors }}</span>#}
        {{ form.errors }}
        <div class="d-flex align-items-center justify-content-center mt-3">
            <p class="me-2 mb-0">Already have an account?</p>
            <a class="btn btn-primary log_in_button py-1 px-4 me-3" href="{% url 'loginPage' %}">Log in</a>
        </div>
    </div>


    <script>
        let form_fields = document.getElementsByTagName('input')
        form_fields[0].placeholder = 'Username';
        form_fields[1].placeholder = 'Email';
        form_fields[2].placeholder = 'Password';
        form_fields[3].placeholder = 'Confirm password';

        let error_messages = document.getElementsByClassName('errorlist')
        for (let error in error_messages){
            error_messages[error].className = ' badge text-bg-danger mt-3 py-2 px-4'
        }
    </script>
{% endblock content %}