{% extends 'navbar.html' %}
{% load static %}
{% block content %}
    <div class="container d-flex flex-column align-items-center">
        <h2 class="text-center mt-5">Your order is successful. We will contact you moments before delivery. Thank you
            for using our online store and
            we hope to see you again.</h2>
        <img class="col-12 w-25" src="{% static  'images/bike.png' %}" alt="">
        <a class="btn btn-primary px-5 py-2 rounded-3 my-3 add_shoes_btn w-100" href="{% url 'shoes' %}">Back to
            the shoes</a>
    </div>

{% endblock content %}